[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SEQTaRget"]
	path = SEQTaRget
	url = https://github.com/causalinference/seqtarget
	subdir = SEQTaRget
[submodule "gfoRmula"]
	path = gfoRmula
	url = https://github.com/causalinference/gformula
